.btn {
  background: transparent;
  border: 2px solid black;
  border-radius: 0.6em;
  cursor: pointer;
  &--basket{
    font-size: 1rem;
    line-height: 1;
    margin: auto;
    padding: 1rem 1rem;
    text-transform: uppercase;
    font-weight: 700;
    &:hover,  &:focus {
      background: #C8E6C9;
    }
  }
  &--form{
    font-size: 1rem;
    line-height: 1;
    margin: 1rem auto;
    padding: 1rem 1rem;
    text-transform: uppercase;
    font-weight: 700;
    @media screen and (max-width: 425px){
      font-size: 0.8rem;
    }
  }
}
