.form{
	flex:1;
			@media screen and (max-width: 425px){
			margin-top: 1rem;	
		}
	&__group{
		display: flex;
		@media screen and (max-width: 425px){
			display: block;	
		}
		& label{
			flex: none;
			display: block;
			width: 125px;
			font-weight: bold;
			font-size: 1em;
			&.right-inline {
				@media screen and (min-width: 426px){
					text-align: right;  
					padding-right: 8px;
					padding-left: 10px;
				}
			}
		}
		& .input-control {
			flex: 1 1 auto;
			display: block;
			margin-bottom: 10px;
			margin-right: 8px;
			padding: 4px;
			@media screen and (max-width: 425px){
				width: 95%;
			}
		}
	}
}
