table {
	margin : auto;
	border:none;
	letter-spacing: 1px;
	font-size: 0.8rem;
	border-collapse: collapse;
	border-spacing: 0;
}

td, th {
	border: 1px solid rgb(190,190,190);
	padding: 10px 20px;
}

th {
	background-color: rgb(235,235,235);
}

td {
	text-align: center;
}

caption {
	padding: 10px;
}

.annulerProduit{
	margin: 1rem;
}