.container{
	display: flex;
	flex-direction: column;
	background-color : #F3E9F1;
	min-height: 100vh;
}

#main{
	flex-grow: 1;
}

.flex-block{
	display: flex;
	padding: 1rem;
	align-items: center;
	@media screen and (max-width: 425px) {
		display: block;
	}

}

#basket-resume{
	flex:1; 
	margin: auto;
}